.stats-cards .mat-card {
  overflow: hidden;
}

table {
width: 100%;
}
img{
  width: 70%;
  height: 70%;
  float: right;
}
h3{
  text-align: center;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

