@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.row {
  width: 100%;
}

label, h2, h4 {
  font-weight: bold;
}

input, option, select {
  font-weight: bold;
}

.contrasenia, .correo {
  text-transform: none;
}

.form {
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  top: 50%;
  font-size: 18px;
}

form > div > div {
  /* width: 33%; */
  padding-bottom: 25px;
}

div {
  font-family: 'Montserrat', sans-serif;
}
